**EXPLAIN ABOUT DATA TYPES**

**EXPLAIN ABOUT INTEGERES WITH EXAMPLES**

**EXPLAIN ABOUT FLOAT WITH EXAMPLES**

**EXPLAIN ABOUT COMPLEX WITH EXAMPLES**

**EXPLAIN BOOLEAN WITH 10 EXAMPLES**

**BOOL FUNCTION WITH 10 EXAMPLES**

**EXPLAIN CONVERSATION OR TYPE CASTING FOR EACH TYPE 5 EXAMPLES**

 1 . **EXPLAIN ABOUT DATA TYPES**
  

 -   We can say Python data types are collections of data items that help us classify or categorise data.
  
 -   Lets see the datatype in python.
 -   integer, float, complex, boolean
 -   List, tuple, string , dictionary

# **EXPLAIN ABOUT INTEGERES WITH EXAMPLES**
-  In Python, integers are classified into zero, positive, or negative whole numbers with no fractional part and infinite precision, such as 0, 100, -10, and so on.

In [ ]:
saikiran = 267
print(saikiran)
print(type(saikiran))

267
<class 'int'>

In [ ]:
raju = 23987654321
print(raju)
print(type(raju))

23987654321
<class 'int'>

In [ ]:
atheesh = 55157890
print(atheesh)
print(type(atheesh))

55157890
<class 'int'>

In [ ]:
a = 15467890
print(a)
print(type(a))

15467890
<class 'int'>

In [ ]:
x = 1234567890
print(x)
print(type(x))

1234567890
<class 'int'>

In [ ]:
z = 1234567890
print(z)
print(type(z))

1234567890
<class 'int'>

# **EXPLAIN ABOUT FLOAT WITH EXAMPLES**
-  Float is a function or reusable code in the Python programming language that converts values into floating point numbers.
- Floating point numbers are decimal values or fractional numbers like 133.5, 2897.11, and 3571.213, whereas real numbers like 56, 2, and 33 are called integers.

In [ ]:
lcuky = 12.45
print(lcuky)
print(type(lcuky))

12.45
<class 'float'>

In [ ]:
saikiran = 1.354789
print(saikiran)
print(type(saikiran))

1.354789
<class 'float'>

In [ ]:
x = 12.456789
print(x)
print(type(x))

12.456789
<class 'float'>

In [ ]:
a = 021.456789
print(a)
print(type(a))

21.456789
<class 'float'>

In [ ]:
atheesh = 9.034612
print(atheesh)
print(type(atheesh))

9.034612
<class 'float'>

In [ ]:
bhanu = 3.456789
print(bhanu)
print(type(bhanu))

3.456789
<class 'float'>

# **EXPLAIN ABOUT COMPLEX WITH EXAMPLES**
-  In Python, complex numbers are created from two real numbers using the complex
-
Syntax: complex([real[, imag]])
-Parameters: real is the required input for the real part of the complex number, and imag is the optional input for the imaginary part
-  
Examples: z = complex(5, 7), z = complex(3), z = complex(), z = complex('1+1j'), z = complex(1, -4)

In [ ]:
 x = 3+5j
 print(x)
 print(type(x))

(3+5j)
<class 'complex'>

In [ ]:
y = 2+5j
print(y)
print(type(y))

(2+5j)
<class 'complex'>

In [ ]:
suresh = -2+6j
print(suresh)
print(type(suresh))

(-2+6j)
<class 'complex'>

In [ ]:
 mahesh = 2+6j
 print(mahesh)
 print(type(mahesh))

(2+6j)
<class 'complex'>

In [ ]:
b = 7+ 9j
print(b)
print(type(b))

(7+9j)
<class 'complex'>

#  **EXPLAIN BOOLEAN WITH 10 EXAMPLES**
-  In Python, a Boolean is a data type that can only have two values: True or False.
-  the type for a Boolean value is bool. Numerically, True is equal to 1 and False is equal to 0.
-  Boolean expressions : An expression that evaluates to a Boolean value. For example, the operator == tests if two values are equal and produces a Boolean value.

-  Comparison operators : There are six common comparison operators that produce a Boolean result, including ==, !=, >, <, >=, and <=.

In [1]:
bool (25)

True

In [2]:
bool (365.325)

True

In [3]:
bool (0.0325)

True

In [4]:
bool (0)

False

In [5]:
bool (-26)

True

In [6]:
bool (9+7j)

True

In [7]:
bool (0+0j)

False

In [8]:
 x = 654
 y = 458
 bool (x>y)

True

In [13]:
a = 36+7j
b = 36+6j
bool (a==b)

False

In [18]:
a = 2364.059
b = 239+4536.98j
bool (a==b)

False

**EXPLAIN CONVERSATION OR TYPE CASTING FOR EACH TYPE 5 EXAMPLES**

 -  Whereas in type conversion, a data type is converted into another data type by a compiler.
 - Whereas in type conversion, there is no need for a casting operator.
 - In type casting, a data type is converted into another data type by a programmer using casting operator.
 -  Type casting can be applied to compatible data types as well as incompatible data types.

In [24]:
 f = 7
 h =float (f)
 print(h)

7.0

In [25]:
# convert float into int
x = 23.56
y = int(x)
print(y)

23

In [26]:
a = 12.039
b = int(a)
print(b)

12

In [27]:
abc = 3.3698
xyz = int(abc)
print(xyz)

3

In [28]:
gri = 636.039
jhi = int(gri)
print(jhi)

636

In [29]:
skj = 93.336
kfg = int(skj)
print(kfg)

93

In [1]:
 # convert int into float

a = 23
b = float(a)
print(b)
type (a)

23.0

int

In [2]:
 x = 969
 y = float (x)
 print (y)
 type (x)

969.0

int

In [5]:
res = 250
res1 = float (res)
print (res1)
type (res)

250.0

int

In [11]:
 # convert float into int
 a  = 6.33
 b = int (a)
 print (b)
 type (a)

6

float

In [12]:
x = 698.39
y = int (x)
print (y)
type (x)

698

float

In [13]:
jkf = 98.365
fgh = int (jkf)
print (fgh)
type (jkf)

98

float

In [25]:
 # convert int and flot into complex
 a = 23
 b = complex (a)
 print (b)
 type (a)

(23+0j)

int

In [26]:
x = 6936
y = complex (x)
print (y)
type (x)

(6936+0j)

int

In [27]:
erp = 339.36
ser = complex (erp)
print (ser)
type (erp)

(339.36+0j)

float

In [28]:
ska = 2.36
prk = complex (ska)
print (prk)
type (ska)

(2.36+0j)

float