In [ ]:
# Define the dictonary
# create a dictonary with 5 examples
# modify and adding 5 dictonaries and with 5 examples
# dictonary methods

# **Define the dictonary**
-  A Python dictionary is a data structure that allows us to easily write very efficient code.
-   In many other languages, this data structure is called a hash table because its keys are hashable.
-   We'll understand in a bit what this means. A Python dictionary is a collection of key:value pairs.

In [2]:
# create a dictonary with 5 examples
aa = {'name': 'karthik','age': 27,'grade': 'A'}
print(aa)

{'name': 'karthik', 'age': 27, 'grade': 'A'}

In [1]:
x = {'name': 'sai','age': 27, 'grade' : 'A'}
print(x)

{'name': 'sai', 'age': 27, 'grade': 'A'}

In [4]:
s = {'name': 'atheesh','age': '27', 'grade': 'A'}
print(s)

{'name': 'atheesh', 'age': '27', 'grade': 'A'}

In [5]:
q = {'mango' : '25','quanrity' : '10'}
print(q)

{'mango': '25', 'quanrity': '10'}

# **3.modify the dictionaries**

In [6]:
x = {'name': 'sai','age': 27, 'grade' : 'A'}
x['name'] = 'karthik'
print(x)

{'name': 'karthik', 'age': 27, 'grade': 'A'}

In [7]:
a = {'name': 'karthik','age': 27,'grade': 'A'}
a['grade'] = 'B'
print(a)

{'name': 'karthik', 'age': 27, 'grade': 'B'}

In [10]:
z = {'apples': '120','quantity': '5'}
z['apples'] = '150'
print(z)

{'apples': '150', 'quantity': '5'}

In [11]:
m = {'dell' : '45000','qunatity' : '2'}
m['dell'] = '50000'
print(m)

{'dell': '50000', 'qunatity': '2'}

In [12]:
k = {'name': 'deva','age': 26,'grade': 'A'}
k['age'] = '27'
print(k)

{'name': 'deva', 'age': '27', 'grade': 'A'}

# **4. adding with examples**

In [13]:
x = {'name': 'sai','age': 27, 'grade' : 'A','location':'siddipet'}
x['school'] = 'zphs'
print(x)

{'name': 'sai', 'age': 27, 'grade': 'A', 'location': 'siddipet', 'school': 'zphs'}

In [14]:
z = {'name': 'apples','qunatity': '5'}
z['cost'] = '150'
print(z)

{'name': 'apples', 'qunatity': '5', 'cost': '150'}

In [16]:
c = {'name': 'apples','qunatity': '5'}
c['mangoes'] = '4'
print(c)

{'name': 'apples', 'qunatity': '5', 'mangoes': '4'}

In [17]:
p = {'name': 'pawankalyan','age': '57'}
p['party'] = 'janasena'
print(p)

{'name': 'pawankalyan', 'age': '57', 'party': 'janasena'}

In [18]:
q = {'name': 'dhoni','ipl fifties':'24'}
q['matches'] = '264'
print(q)

{'name': 'dhoni', 'ipl fifties': '24', 'matches': '264'}

# **5. methods of dictonaries**

1.get()
-  returns the value for a specified key. it you to provide a default value if the key is not found.

In [19]:
x = {'name': 'sai','age': 27, 'grade' : 'A'}
print(x.get('name'))

sai

In [20]:
x = {'name': 'sai','age': 27, 'grade' : 'A'}
print(x.get('school'))

None

In [21]:
y = {'name': 'sai','age': 27, 'grade' : 'A'}
print(y.get('locaation'))

None

2. keys()
-  returns a view of all the keys in the dictonary.

In [22]:
x = {'name': 'sai','age': 27, 'grade' : 'A'}
print(x.keys())

dict_keys(['name', 'age', 'grade'])

In [23]:
u = {'name': 'sai','age': 27, 'grade' : 'A'}
print(u.keys())

dict_keys(['name', 'age', 'grade'])

In [24]:
w = {'name': 'apples','coat': '150', 'quantity' : '5'}
print(w.keys())

dict_keys(['name', 'coat', 'quantity'])

3. values()
-  returns a view of all the values im the dictionary.

In [25]:
x = {'name': 'sai','age': 27, 'grade' : 'A'}
print(x.values())

dict_values(['sai', 27, 'A'])

In [26]:
a = {'name': 'sai','age': 27, 'grade' : 'A'}
print(a.values())

dict_values(['sai', 27, 'A'])

In [27]:
z = {'name': 'apples','coat': '150', 'quantity' : '5'}
print(z.values())

dict_values(['apples', '150', '5'])

4.items()
-  returns a view of  all key value pairs as tuples.

In [28]:
v = {'name': 'sai','age': 27, 'grade' : 'A'}
print(v.items())

dict_items([('name', 'sai'), ('age', 27), ('grade', 'A')])

In [29]:
q = {'name': 'sai','age': 27, 'grade' : 'A'}
print(q.items())

dict_items([('name', 'sai'), ('age', 27), ('grade', 'A')])

In [30]:
p = {'name': 'apples','coat': '150', 'quantity' : '5'}
print(p.items())

dict_items([('name', 'apples'), ('coat', '150'), ('quantity', '5')])

5.pop()
-  removes and returns the value for a specified key.

In [31]:
x = {'name': 'sai','age': 27, 'grade' : 'A'}
print(x.pop('name'))

sai

In [32]:
z = {'name': 'sai','age': 27, 'grade' : 'A'}
print(z.pop('age'))

27

In [33]:
m = {'name': 'apples','coat': '150', 'quantity' : '5'}
print(m.pop('quantity'))

5

6. popitem()
-  removes and returns the last inserted key value pair tuple.

In [34]:
x= {'name': 'sai','age': 27, 'grade' : 'A'}
print(x.popitem())

('grade', 'A')

In [1]:
w = {'name': 'sai','age': 27, 'grade' : 'A'}
print(w.popitem())

('grade', 'A')

7.update()
-  updates the dictionary with elements from another dictionary or from an iterable of key value  pairs.

In [2]:
x = {'name': 'sai','age': 27, 'grade' : 'A'}
y = {'school': 'zphs'}
x.update(y)
print(x)

{'name': 'sai', 'age': 27, 'grade': 'A', 'school': 'zphs'}

In [3]:
v = {'name': 'sai','age': 27, 'grade' : 'A'}
u = {'loation': 'sdpt'}
v.update(u)
print(v)

{'name': 'sai', 'age': 27, 'grade': 'A', 'loation': 'sdpt'}

8.copy()
-  returns a copy of the dictionary.

In [4]:
x = {'name': 'sai','age': 27, 'grade' : 'A'}
y = x.copy()
print(y)

{'name': 'sai', 'age': 27, 'grade': 'A'}

In [5]:
z = {'name': 'sai','age': 27, 'grade' : 'A'}
w = z.copy()
print(w)

{'name': 'sai', 'age': 27, 'grade': 'A'}

9.set default()
-  returns the value of the specified key. if the key doesnot exist insert the key, with the specifed key value  pairs.

In [6]:
x = {'name': 'sai','age': 27, 'grade' : 'A'}
print(x.setdefault('name'))

sai

In [7]:
y = {'name': 'sai','age': 27, 'grade' : 'A'}
print(y.setdefault('school'))

None

10.clear()
-  removes all the elements from the dictionary.

In [8]:
x = {'name': 'sai','age': 27, 'grade' : 'A'}
x.clear()
print(x)

{}

In [9]:
z = {'name': 'sai','age': 27, 'grade' : 'A'}
z.clear()
print(z)

{}