In [ ]:
# python while loop
# Python For Loop ( list,tuple,dictionary,string)
# 1q write a python programme to check given year is a leap year are not
# 2q write a python prpgram to find a given number is even or odd
# 3q write a python program to check if a list is empty or not
# 4q write a python code to calculate grade of a students
# 5q  check wheather given word ia s polindrome or not
# 6q  write a python program to find the smallest among three numbers
# 7q  find the second largest number in a list
# 8q calculate BMI and categorize it under weight normal weight lower weight
# 9q write a python program to check vote eligiblity program
# 10q to find the belongs to which type of group
# group school less than 22
# work group greater than 22 and lessthan 50
# retire group greater than 50

**Python While Loop**
-  python while loop is used to run a block code until a certain condition is meet the system of whiile loop.

In [ ]:
# example
a = 10
a <= 50
print (a)
a = a + 5
print (a)

10
15

**Python For Loop**
-  The for loop is used for iterating over a sequence.(that is either a list,tuple,dictionary,string,or range).
- the syntax of a for loop is:
- for val in sequence # statements.

In [ ]:
# examples
# string

a = "hello world"
for x in a:
  print (x)

h
e
l
l
o

w
o
r
l
d

In [ ]:
# list
a = ["apple","banana","cherry"]
for x in a:
  print (x)

apple
banana
cherry

In [ ]:
# tuple

a = {"hello","world","python","programming"}
for x in a:
  print (x)

world
hello
python
programming

In [ ]:
# dictionary

dict = {"name":"john","age":30,"city":"new york"}
for x in dict:
  print (x)

name
age
city

In [ ]:
dict = {"name":"john","age":30,"city":"new york"}
for x in dict.values():
  print (x)

john
30
new york

In [ ]:
dict = {"name":"john","age":30,"city":"new york"}
for x,y in dict.items():
  print (x,y)

name john
age 30
city new york

In [ ]:
dict = {"name":"sai","age":27,"city":"sdpt"}

for key, value in dict.items():

  print(f"key is {key} and value is {value}")

key is name and value is sai
key is age and value is 27
key is city and value is sdpt

In [ ]:
# write a python programme to check for loop given year is a leap year are not

numbers = [1997,1998,2002,2004,2009,2020,2023,2024]
for x in numbers:
  if x % 4 == 0:
    print (f"is a leap year")
  else:
    print (f"is not a leap year")

is not a leap year
is not a leap year
is not a leap year
is a leap year
is not a leap year
is a leap year
is not a leap year
is a leap year

In [ ]:
# write a python prpgram to find for loop a given number is even or odd

numbers = (1,2,3,4,5,6,7,8,9,10)
for z in numbers:
  if z % 2 == 0:
    print (f"is even")
  else:
    print (f"is odd")

is odd
is even
is odd
is even
is odd
is even
is odd
is even
is odd
is even

In [5]:
# write a python program to check for loop if a list is empty or not

a = [1,2]
for x in a:
  if not x:
    print ("is empty")
  else:
    print ("is not empty")

is not empty
is not empty

In [22]:
# write a python code to calculate grade of a students to check for loop

x = int(input("enter the marks"))
for z in x :
  if z >= 90:
    print ("A")
  elif z >= 80:
    print ("B")
  elif z >= 70:
    print ("C")
  elif z >= 60:
    print ("D")
  elif z >= 50:
    print ("E")
  else:
    print ("Fail")

enter the marks64

TypeError: 'int' object is not iterable

In [24]:
# 5q  check wheather for loop given word ia s polindrome or not

x = input("enter the word")
for a in x:
  if x == x[::-1]:
    print ("is polindrome")
  else:
    print ("is not polindrome")

enter the word python
is not polindrome
is not polindrome
is not polindrome
is not polindrome
is not polindrome
is not polindrome
is not polindrome

In [ ]:
# 6q  write a python program to check the for loop the smallest among three numbers

a = 56
b = 45
c = 34
for x in a,b,c:
  if a < b and a < c:
    print (a)
  elif b < a and b < c:
    print (b)
  else:
    print (c)

34
34
34

In [12]:
# 7q  to check the for loop the second largest number in a list

x =  [36,64,963,254,333]
for zip in x:
  x.sort()
  print (x[-2])

333
333
333
333
333

In [ ]:
# 8q calculate BMI and categorize for loop it under weight normal weight lower weight

y = float(input("enter the height"))

for z in x,y:
  if x < 153.5:
    print ("under height")
  elif x > 153.5 and x < 185:
    print ("normal height")
  else:
    print ("over height")

enter the height 171.5
over height
over height

In [ ]:
# 9q write a python program to check for loop vote eligiblity program

x = [16,36,25,18,50]
for z in x:
  if z >= 18:
    print ("eligible for vote")
  else:
    print ("not eligible for vote")

not eligible for vote
eligible for vote
eligible for vote
eligible for vote
eligible for vote

In [20]:
# 10q to find the for loop belongs to which type of group
# group school less than 22
# work group greater than 22 and lessthan 50
# retire group greater than 50


age = int(input("enter your age"))
for x in range (1):
  if x < 22:
    print ("school")
  elif x > 22 and x < 50:
    print ("work")
  else:
    print ("retire")

enter your age25
school