 **EXPLAIN ABOUT OPERATORS**

 **DEFINE THE TYPES OF OPERATORS IN PYTHON**

**EXPLAIN EACH AND EVERY OPERATOR WITH 10 EXAMPLES**

# **EXPLAIN ABOUT OPERATOS**

-  **Arithmetic operators**

-  **Comparison operators**

-  **Assignment operators**

-  **Logical operators**

-  **identity operators**

-  **membership operators**



-    **Arithmetic operators**  :

     Python has a variety of arithmetic operators that can be used to perform mathematical calculations.

-
Addition: The symbol "+" is used to add two numbers together.
-  
Subtraction: The symbol "-" is used to subtract one number from another.
-  
Multiplication: The symbol "*" is used to multiply two numbers.
-  
Division: The symbol "/" is used to divide one number by another, returning a float.
-  
Floor Division: The symbol "//" is used to divide one number by another and return the integer part of the quotient.
-  
Modulus: The symbol "%" is used to calculate the remainder of the division.
-  
Exponentiation: The symbol "**" is used to raise a number to the power of another number.

In [ ]:
 # Addition exaples

# 1
a = 5
b = 3
c = a + b
print(c)

8

In [ ]:
# 2

x = 2369
y = 3974
z = x + y
print(z)

6343

In [ ]:
 # 3
 x = 69369
y = 39879
z = x + y
print(z)

109248

In [ ]:
 # 4
 x = 36.3633
 y = 96.3664
 z = x + y
 print(z)

132.7297

In [ ]:
 # 5
 sai = 256.36
 raju = 363.363
 sum = sai + raju
 print(sum)

619.723

In [ ]:
# 6
aa = 236.34789
bh = 2479.398
sum = aa + bh
print(sum)

2715.74589

In [ ]:
 # 7
 jkr = 369369369369
 lik = 1297458696969
 sum = jkr + lik
 print(sum)

1666828066338

In [ ]:
# subtraction examples

# 1
x = 2369
y = 1974
z = x - y
print(z)

395

In [ ]:
# 2
a = 2369745589
b = 1236978523
c = a - b
print(c)

1132767066

In [ ]:
# 3
kiran = 98749.39
charan = 36936.36
sum = kiran - charan
print(sum)

61813.03

In [ ]:
# 4
sai = 2561236.36
raju = 36333333.363
sum = sai - raju
print(sum)

-33772097.003

In [ ]:
# 5
kkk = 0.32364112
ddd = 0.10321456
sum = kkk - ddd
print (sum)

0.22042656

In [ ]:
# 6
c = 74785.3369
m = 336.1232
v = c - m
print (v)

74449.2137

In [ ]:
# 7
lki = 36363636393636363
kil = 22363423663
mmm = lki - kil
print (mmm)

36363614030212700

In [ ]:
 # multiplication examples

# 1

a = 3636
b = 3475
c = a * b
print(c)

12635100

In [ ]:
 # 2
 vv = 253363
 bb = 125636
 ss = vv * bb
 print(ss)

31831513868

In [ ]:
# 3
ark = 36.36
krk = 26.26
srk= ark * krk
print(srk)

954.8136000000001

In [ ]:
# 4
aws = 9999
ggl = 8888
lll = aws * ggl
print(lll)

88871112

In [ ]:
# 5
k = 0.1
l = 0.2
v= k * l
print(v)

0.020000000000000004

In [ ]:
# 6
rgv = 1.3
grb = 1.2
hhh = rgv * grb
print(hhh)

1.56

In [ ]:
# 7
prj = 0.77
pk = 0.7
lnj = prj * pk
print(lnj)

0.5389999999999999

In [ ]:
 # division

 # 1
a = 36
b = 6
c= a/b
print (c)

6.0

In [ ]:
# 2
x = 450
y = 25
z = x/y
print (z)

18.0

In [ ]:
# 3
erb = 5.25
rgv = 2.25
sss = erb / rgv
print(sss)

2.3333333333333335

In [ ]:
# 4
dvr = 122.33
mgr = 11
ttt = dvr / mgr
print(ttt)

11.120909090909091

In [ ]:
# 5
a = 15425
b = 3636
c = a / b
print (c)

4.242299229922993

In [ ]:
# 7
ee = 999
ss = 33
ii = ee / ss
print(ii)

30.272727272727273

In [ ]:
# Floor Division
# 1
a = 25
b = 5
c = a // b
print (c)

5

In [ ]:
# 2
x = 525
y = 25
z= x // y
print (z)

21

In [ ]:
# 3
er = 152
tg = 36
zz = er // tg
print (zz)

4

In [ ]:
# 4
cng = 200
bbb = 100
zzz = cng // bbb
print (zzz)

2

In [ ]:
# 5
bbc = 100.20
ccb = 10
aaa = bbc // ccb
print(aaa)

10.0

In [ ]:
# 6
v = 111.22
x = 33
w = v // x
print(w)

3.0

In [ ]:
# 7
p = 520
s = 10
k = p // s
print(k)

52

In [ ]:
 # Modulus
 # 1
 a = 652
 b = 25
 c = a % b
 print(c)

0

In [ ]:
# 2
x = 365
y = 15
z = x % y
print (z)

5

In [ ]:
# 3
lky = 65000
jky = 75
sh = lky % jky
print (sh)

50

In [ ]:
# 4
sai = 25000
raju = 99
zzz = sai % raju
print(zzz)

52

In [ ]:
# 5
atheesh = 120000
rakesh = 85
mm = atheesh % rakesh
print (mm)

65

# **COMPARISON OPERATORS**
  Comparison operators in Python, also called relational operators, are used to compare two operands. They return a Boolean True or False depending on whether the comparison condition is true or false.

-  	Equal ==
-  	Not equal	!=
-	Greater than >
-  Less than <
-	Greater than or equal to >=
-   Less than or equal to <=

In [ ]:
 # really equal ==
 # 1
 a = 25
 b = 36
 c = a==b
 print (c)

False

In [ ]:
# 2
x = 598
y = 598
z = x==y
print(z)

True

In [ ]:
# 3
ajk = 0.0333
jkl = 1.0333
lll = ajk==jkl
print (lll)

False

In [ ]:
# 4
t = -267
r = +267
y = t==r
print(y)

False

In [ ]:
# 5
tkr = 7896
srk = 7896
erp = tkr==srk
print(erp)

True

In [ ]:
 # Not equal !=

 # 1
 a = 5
 b = 5
 c = a != b
 print (c)

False

In [ ]:
# 2
x = 6963
b = 6961
c = a != b
print (c)

True

In [ ]:
# 3
p = 0.33
o = 0.33
q = p != o
print (q)

False

In [ ]:
# 4
oo = 1254
bc = 3264
dc = oo != bc
print(dc)

True

In [ ]:
# 5
jkl = 99999
lkj = 99998
zzz = jkl != lkj
print (zzz)

True

In [ ]:
 # Greater than >
 # 1
a = 5
b = 3
c = a > b
print (c)

True

In [ ]:
# 2
x = 25
y = 26
z = x > y
print(z)

False

In [ ]:
# 3
r = 1236
d = 2355
z = r > d
print(z)

False

In [ ]:
# 4
kd = 1.111
ds = 1.000
pp = kd > ds
print(pp)

True

In [ ]:
# 5
trs = 2525
bjp = 5252
www = trs > bjp
print(www)

False

In [ ]:
# Less than <
# 1
a = 125
b = 124
c = a < b
print(c)

False

In [ ]:
# 2
x = 5
y = 4
z = y < x
print(z)

True

In [ ]:
# 3
aa = 100
bb = 101
cc = aa < bb
print (c)

False

In [ ]:
# 4
o = 1.222
p = 0.333
r = o < p
print (r)

False

In [ ]:
# 5
tt = 256
rd = 250
zz = tt < rd
print(zz)

False

In [ ]:
# Greater than or equal to >=

# 1
a = 10
b = 20
c = a >= b
print(c)

False

In [ ]:
# 2
a = 20
b = 10
c = a >= b
print (c)

True

In [ ]:
# 3
a = 200
b = 100
c = b >=a
print(c)

False

In [ ]:
# 4
x = 63.33
y = 33.11
z = x >= y
print(z)

True

In [ ]:
# 5
bb = 555
xx = 33.3
vv =  bb >= xx
print(vv)

True

In [ ]:
 # Less than or equal to <=
 # 1
 a = 45
 b = 35
 c = a <= b
 print(c)

False

In [ ]:
# 2
x = 350
y = 250
z = x <= y
print(z)

False

In [ ]:
# 3
s = 350
r = 250
t = r <= s
print (t)

True

In [ ]:
# 4
ts = 1000
pp = 5200
yy = ts <= pp
print(yy)

True

In [ ]:
# 5
jkl = 9999
fgh = 8888
ooo = jkl <= fgh
print(ooo)

False

# **Assignment operators**
- Python has an assignment operator that helps to assign values or expressions to the left-hand-side variable. The assignment operator is represented as the "=" symbol used in assignment statements and assignment expressions.

-  Adds the value on the right to the variable on the left +=
-  
Subtracts the value on the right from the variable on the left -=
-  
Multiplies the value on the right by the variable on the left*=
-   
Divides the value on the right by the variable on the left /=

In [ ]:
 # addition assigment +=
 # 1
 a = 3
 b = 2
 a+=b
 print(a)

5

In [ ]:
# 2
x = 633
y = 33
x+=y
print(x)

666

In [ ]:
# 3
z = 125.36
a = 125.3
z+=a
print(z)

250.66

In [ ]:
# 4
cc = 2363
dd = 2520
cc+=dd
print(cc)

4883

In [ ]:
# 4
ar = 56
bg = 35
ar+=bg
print(ar)

91

In [ ]:
# 5
r = 78
t = 65
r+=t
print(r)

143

In [ ]:
# Subtraction Assignment
# 1
a = 30
b = 20
a-=b
print(a)

10

In [ ]:
# 2
a = 250
b = 150
a-=b
print(a)

100

In [ ]:
# 3
x = 500
y = 300
x-=y
print(x)

200

In [ ]:
# 4
z = 125.36
a = 125.3
z-=a
print(z)

0.060000000000002274

In [ ]:
# 5
t = 250000
b = 125000
t-=b
print(t)

125000

In [ ]:
# Multiplication Assignment
# 1
a = 4
b = 3
a*=b
print(a)

12

In [ ]:
# 2
x = 25
y = 5
x*=y
print(x)

125

In [ ]:
# 3
z = 520
a = 33
z*=a
print(z)

17160

In [ ]:
# 4
cc = 2363
dd = 2520
cc*=dd
print(cc)

5954760

In [ ]:
# 5
rt =  65
ty = 35
rt*=ty
print(rt)

2275

In [ ]:
# Division Assignment
# 1
a = 10
b = 5
a/=b
print(a)

2.0

In [ ]:
# 2
x = 25
y = 5
x/=y
print(x)

5.0

In [ ]:
# 3
b = 150
d = 5
b/=d
print(b)

30.0

In [ ]:
# 4
s = 125.36
r = 125.3
s/=r
print(s)

1.0004788507581803

In [ ]:
# 5
o = 45
p = 9
o/=p
print(o)

5.0

# **Logical operators**
A logical operator is a symbol or word that connects two or more expressions to determine if the resulting expression is true or false. The result is based on the truth values of the original expressions and the meaning of the operator.

- AND: Returns true if both operands satisfy the conditions.
-  OR: Returns true if either operand satisfies the conditions.
-NOT: Reverses the logical state of its operand.

In [1]:
# 1

print (25>12 and 15<25)

True

In [2]:
# 2
print (57>30 and 17<6)

False

In [3]:
# 3
print (20.6>10.6 and 10.6<11.5)

True

In [5]:
# 4
print(50>45 and 50<40)

False

In [6]:
# 5
print (100>150 and 25<36)

False

In [9]:
# or

# 1
print (25>12 or 50<10)

True

In [11]:
# 2
print (60>100 or 8<10)

True

In [13]:
# 3
print (100>150 or 100<95)

False

In [14]:
# 4
print (50>45 or 50<40)

True

In [15]:
# 5
print (2560>6352 or 254<102)

False

In [16]:
# not
# 1
x = 5
print(not(x > 3 and x < 10))

False

In [18]:
# 2
a = 150
print(not(a > 100 or a < 200))

False

In [21]:
# 3
p = 250
print(not(p > 200 and p < 100))

True

In [22]:
# 4
kl = 142
print(not(kl > 143 or kl < 126))

True

In [26]:
# 5
we = 500
print(not (we >200 and we < 300))

True

# **identity operators**
 Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location
 -   IS Operator
 -   IS NOT Operator

In [27]:
 # IS
 # 1
a = 5
b = 5
c = a is b
print(c)

True

In [28]:
# 2
x = 1250
y = 12369
z = x is y
print(z)

False

In [30]:
# 3
a = 'python'
b = 'Python'
c = a is b
print(c)

False

In [31]:
# 4
d = 36985
j = 23472
e = d is j
print(e)

False

In [32]:
# is not

# 1
a = 15
b = 15
c = a is not b
print(c)

False

In [33]:
# 2
x = 1250
y = 12369
z = x is not y
print(z)

True

In [34]:
# 3
s = 'kiran'
b = 'kiRan'
x = s is not b
print(x)

True

In [35]:
# 4
erp = -2233
poi = +2369
pp = erp is not poi
print(pp)

True

# Membership operators
-  We use membership operators in Python to check whether a sequence is present in the object or not.
-  To check the membership, we have two types of membership operators in Python, in and not in.
-   The in operator returns True if it encounters the sequence in any object, whereas not in is the total opposite

-  IN OPERATOR
-  NOT IN OPERATOR

In [36]:
# in

# 1
j = 'sai kiran'
print('S' in j)

False

In [39]:
# 2
l = 'sai kiran'
print('s' in l)

True

In [40]:
# 3
a = 1,2,5,6,9
print(5 in a)

True

In [41]:
# not in
# 1
a = 'hello world'
print('a' not in a)

True

In [46]:
# 2
u = (1,2,5,6,9)
print(10 not in u)

True

In [48]:
# 3
s = 'shiva Krishna'
print('k' not in s)

True

In [50]:
# 4
x = 1,2,5,6,9
print(1 not in x)

False

In [51]:
# 5
r = 'hello World'
print('w' not in r)

True