In [ ]:
# define about list
# create 10 example storing different data types
# creating a list with 15 elements you need to access each and every element from list both positive and negative
# slicing both positive and negative
# concatenation any 5 list
# Repetition and 5 list
# modifiy 5 element in list of 15 elements buy using index and slicing
# list of methods

# **Define about list**
-  A Python list is mutable.
-  Any item from the list can be accessed using its index, and can be modified.
-  One or more objects from the list can be removed or added.
-  A list may have same item at more than one index positions.
-  A Python list is a sequence of comma separated items, enclosed in square
   brackets [ ].

In [8]:
 # Create 10 Example Storing Different Data Types
# 1
 a = 58965
 b = 33.369
 c = 6+9j
 d = 759
 print(type(a))
 print(type(b))
 print(type(c))
 bool(d)

<class 'int'>
<class 'float'>
<class 'complex'>

True

In [9]:
# 2
w = 9567
x = 1.363
y= 36+9j
z = 0
print(type(w))
print(type(x))
print(type(y))
bool (z)

<class 'int'>
<class 'float'>
<class 'complex'>

False

In [14]:
# 3
sai = 9475
atheesh = 1.39752
raju = 3+29j
shiva = 777
print(type(sai))
print(type(atheesh))
print(type(raju))
bool(shiva)

<class 'int'>
<class 'float'>
<class 'complex'>

True

In [15]:
# 4
apple = 23600.35452
banana =236542
cherry = 0+96j
dates = 23
print(type(apple))
print(type(banana))
print(type(cherry))
bool(dates)

<class 'float'>
<class 'int'>
<class 'complex'>

True

In [16]:
# 5
k = 6+3j
d = 0.1111
r = 1631
u = 0+0j
print(type(k))
print(type(d))
print(type(r))
bool(u)

<class 'complex'>
<class 'float'>
<class 'int'>

False

In [18]:
# 6
aa = 1233
bb = 33636
CC = 0+0j
dd = 0
print(type(aa))
print(type(bb))
print(type(CC))
bool(dd)

<class 'int'>
<class 'int'>
<class 'complex'>

False

In [19]:
# 7
erp = 333.369
jkl = 363+5j
zxc = 363636
qwe = -39
print(type(erp))
print(type(jkl))
print(type(zxc))
bool(qwe)

<class 'float'>
<class 'complex'>
<class 'int'>

True

In [76]:
# creating a list with 15 elements you need to access each and every element from list both positive and negative
# Creating a list with elements

a = [100,200,300,400,500,600,700,800,900,1000,1100,1200,1300,1400,1500]
print(a)

'positive'
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5])

[100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200, 1300, 1400, 1500]
100
200
300
400
500
600

In [77]:
'negative'
print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])
print(a[-5])
print(a[-6])

1500
1400
1300
1200
1100
1000

In [51]:
# slicing both positive and negative
'positive'
list = ['s','o','c','i','a','l','m','a','n','a','q','p']
print(list[0:5])

['s', 'o', 'c', 'i', 'a']

In [52]:
print(list[6:11])

['m', 'a', 'n', 'a', 'q']

In [54]:
print(list[6:9])

['m', 'a', 'n']

In [55]:
print(list[:3])

['s', 'o', 'c']

In [56]:
print(list[1:])

['o', 'c', 'i', 'a', 'l', 'm', 'a', 'n', 'a', 'q', 'p']

In [58]:
# 'negative'
print(list[-11:-6])

['o', 'c', 'i', 'a', 'l']

In [59]:
print(list[-3:-1])

['a', 'q']

In [61]:
print(list[:-1])

['s', 'o', 'c', 'i', 'a', 'l', 'm', 'a', 'n', 'a', 'q']

In [62]:
print(list[-0:])

['s', 'o', 'c', 'i', 'a', 'l', 'm', 'a', 'n', 'a', 'q', 'p']

list operations
1. concatenation
2. Repetition

In [65]:
# concatenation any 5
# 1
a = [1,2,3,4,5]
b = [6,7,8,9,10]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
# 2
x = ['kiwi','mango','orange']
y = ['apple','banana','cherry','kiwi']
z = x+y
print(z)

['kiwi', 'mango', 'orange', 'apple', 'banana', 'cherry', 'kiwi']

In [69]:
# 3
p = [100,200,300,400,500]
q = [1000,2000,3000,4000,5000]
r = p+q
print(r)

[100, 200, 300, 400, 500, 1000, 2000, 3000, 4000, 5000]

In [70]:
# Repetition

a = [9,8,7,6,1]
b = a*2
print(b)

[9, 8, 7, 6, 1, 9, 8, 7, 6, 1]

In [71]:
x = [1,2,3,4,5]
y = x*3
print(y)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [72]:
z = ['apple','banana','cherry']
a = z*2
print(a)

['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry']

In [73]:
p = ['kiwi','mango','orange']
q = p*7
print(q)

['kiwi', 'mango', 'orange', 'kiwi', 'mango', 'orange', 'kiwi', 'mango', 'orange', 'kiwi', 'mango', 'orange', 'kiwi', 'mango', 'orange', 'kiwi', 'mango', 'orange', 'kiwi', 'mango', 'orange']

In [75]:
t = [100,200,300,400,500]
u = t*5
print(u)

[100, 200, 300, 400, 500, 100, 200, 300, 400, 500, 100, 200, 300, 400, 500, 100, 200, 300, 400, 500, 100, 200, 300, 400, 500]

In [80]:
# modifiy 5 element in list of 15 elements buy using index and slicing

list = ['apple','banana','cherry','kiwi','mango','orange','watermelon','avocado','blueberry','blackberry','pineapple','guava','papaya','plum','grapes']
list [2] = 'strawberry'
print(list)

['apple', 'banana', 'strawberry', 'kiwi', 'mango', 'orange', 'watermelon', 'avocado', 'blueberry', 'blackberry', 'pineapple', 'guava', 'papaya', 'plum', 'grapes']

In [82]:
list [6] = 'kiwi'
print(list)

['apple', 'banana', 'strawberry', 'kiwi', 'mango', 'orange', 'kiwi', 'avocado', 'blueberry', 'blackberry', 'pineapple', 'guava', 'papaya', 'plum', 'grapes']

In [83]:
list [-8] = 'cherry'
print(list)

['apple', 'banana', 'strawberry', 'kiwi', 'mango', 'orange', 'kiwi', 'cherry', 'blueberry', 'blackberry', 'pineapple', 'guava', 'papaya', 'plum', 'grapes']

In [84]:
list [-10] = 'orange'
print(list)

['apple', 'banana', 'strawberry', 'kiwi', 'mango', 'orange', 'kiwi', 'cherry', 'blueberry', 'blackberry', 'pineapple', 'guava', 'papaya', 'plum', 'grapes']

In [87]:
list [7] = 'blueberry'
print(list)

['apple', 'banana', 'strawberry', 'kiwi', 'mango', 'orange', 'kiwi', 'blueberry', 'blueberry', 'blackberry', 'pineapple', 'guava', 'papaya', 'plum', 'grapes']

In [ ]:
#  list of methods with examples


1 . append()
2 . extend()
3 . insert()
4 . remove()
5 . pop()
6 . index()
7 . count()
8 . sort()
9 . reverse()
10 . clear()

In [96]:
 'append'

# add an element to the end of the list

a = [1,2,3,4,5]
a.append(10)
print(a)

[1, 2, 3, 4, 5, 10]

In [97]:
x = [100,200,300,400,500]
x.append(1000)
print(x)

[100, 200, 300, 400, 500, 1000]

In [98]:
t = ['kiwi','mango','orange']
t.append('apple')
print(t)

['kiwi', 'mango', 'orange', 'apple']

In [101]:
# extend

# appends elements from another iterable to the end.

x = [1,2,3,4,5]
y = [6,7,8,9,10]
x.extend(y)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [102]:
aa = [25,50,75,100,125]
bb = [150,175,200,225,250]
aa.extend(bb)
print(aa)

[25, 50, 75, 100, 125, 150, 175, 200, 225, 250]

In [103]:
xx = ['kiwi','mango','orange']
yy = ['apple','banana','cherry','kiwi']
xx.extend(yy)
print(xx)

['kiwi', 'mango', 'orange', 'apple', 'banana', 'cherry', 'kiwi']

In [104]:
# insert

# insert an element at a specified position

a = [1,2,3,4,5]
a.insert(2,10)
print(a)

[1, 2, 10, 3, 4, 5]

In [105]:
x = [100,200,300,400,500]
x.insert(4,1000)
print(x)

[100, 200, 300, 400, 1000, 500]

In [107]:
z = [23,36,49,64,81,25,36]
z.insert(-2,150)
print(z)

[23, 36, 49, 64, 81, 150, 25, 36]

In [113]:
# 'remove'

# removes the first occurrence of a value


a = [1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [114]:
x = ['kiwi','mango','orange']
x.remove('mango')
print(x)

['kiwi', 'orange']

In [115]:
z = [100,200,300,400,500]
z.remove(200)
print(z)

[100, 300, 400, 500]

In [116]:
# pop

# removes and returns an element at a specifeid index.

a = [1,2,3,4,5]
a.pop(3)
print(a)

[1, 2, 3, 5]

In [117]:
x = ['kiwi','mango','orange']
x.pop(2)
print(x)

['kiwi', 'mango']

In [118]:
z = [100,200,300,400,500]
z.pop(4)
print(z)

[100, 200, 300, 400]

In [122]:
# index

# returns the index of the first occurance of a value


z = ['kiwi','mango','orange']
index = z.index('mango')
print(index)

1

In [123]:
y = [100,200,300,400,500]
index = y.index(300)
print(index)

2

In [129]:
# count

# returns the number of occurences of a value

t = [1,2,3,4,5,6,7,5,9,10,5]
count = t.count(5)
print(count)

3

In [125]:
u = ['kiwi','mango','orange','kiwi']
count = u.count('kiwi')
print(count)

2

In [127]:
s = [100,200,500,400,500,600,700,500,900,1000]
count = s.count(500)
print(count)

3

In [130]:
# sort

# sorts the list in ascending order.

a = [5,4,3,2,1,6,9,7,3,6,7]
a.sort()
print(a)

[1, 2, 3, 3, 4, 5, 6, 6, 7, 7, 9]

In [131]:
x  = ['kiwi','mango','orange','apple','cherry']
x.sort()
print(x)

['apple', 'cherry', 'kiwi', 'mango', 'orange']

In [132]:
y = [100,200,500,400,500,600,700,500,900,1000]
y.sort()
print(y)

[100, 200, 400, 500, 500, 500, 600, 700, 900, 1000]

In [133]:
# reverse

# reverses the order of elements in the list

e = [1,2,3,4,5,6,7,8,9]
e.reverse()
print(e)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [134]:
a = ['kiwi','mango','orange','apple','cherry']
a.reverse()
print(a)

['cherry', 'apple', 'orange', 'mango', 'kiwi']

In [137]:
# clear

# removes all elements from the list, making it empty

a = [1,2,3,4,5]
a.clear()
print(a)

[]

In [138]:
x = ['kiwi','mango','orange']
x.clear()
print(x)

[]