In [ ]:
#Define set in python
#Add and Update Set items un python
#Remove an element from a set
#Python set of oprations
# methods of set

# **Define Set**
-  in python a set is a collection of unique elements and it is defined using curly braces{} and sep by , (comma)
-  sets are used to store multiple items in a single vairable.
-  set are unordered,mutable,and do not allow duplicate elements.
-  sets provide a vaierty of methods for performing common set operations like union,intersection,difference,and more

In [1]:
# creating a set

x  = {1,2,3,4}
print(x)

{1, 2, 3, 4}

In [2]:
y = {"apple","kiwi","orange"}
print(y)

{'kiwi', 'orange', 'apple'}

In [3]:
z = {1,"hello",3.14}
print(z)

{1, 3.14, 'hello'}

In [4]:
x = {1,2,8,5,3,9,7,4}
print(x)

{1, 2, 3, 4, 5, 7, 8, 9}

# **Add and Update Set items un python**
-  sets are mutable . however,since they are understand ,indexing his no meaning.
-  we cannot access or change an element of a set using indexing or slicing.
-  set data type does not support it.

In [7]:
x = {1,2,3,4,5,7,8,9}
x.add(6)
print(x)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [8]:
y = {"apple","kiwi","orange"}
y.update(["banana","grapes"])
print(y)

{'kiwi', 'grapes', 'apple', 'orange', 'banana'}

# **Remove an element from a set**
-  we use the discard () method to remoe the specified element from a set.

In [9]:
x = {1,2,3,4,5,7,8,9}
x.discard(5)
print(x)

{1, 2, 3, 4, 7, 8, 9}

In [10]:
y = {"apple","kiwi","orange"}
y.remove("kiwi")
print(y)

{'orange', 'apple'}

**Python set of oprations**
-  python set provides different built -in methods to perform mathamatical set operations like union,inersection ,subtraction,and symmetric difference.

# **1. Union**
-  the union of twosets A and B include all the elements of set A and B
-  combines elements from two sets, removing duplicates.

In [11]:
x = {1,2,3,4,5,7,8,9}
y = {3,4,5,6,7,8,9}
z = x.union(y)
print(z)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [12]:
a = {"apple","kiwi","orange"}
b = {"banana","grapes","kiwi"}
c = a.union(b)
print(c)

{'kiwi', 'apple', 'grapes', 'orange', 'banana'}

# **2.set Intersection**
-  the intersection of two sets A and B include the common elements between set A and B
-  Returns common elements between two sets

In [14]:
x = {0,1,2,4,5,6,7,8,9}
y = {2,4,6,8,10,12,14}
z = x.intersection(y)
print(z)

{8, 2, 4, 6}

In [15]:
y = {"apple","kiwi","orange"}
b = {"banana","grapes","kiwi"}
c = a.intersection(b)
print(c)

{'kiwi'}

# **3.Difference between two sets**
-  The difference between two sets A and B include elements of set A that  are not present on set B.
-  Returns elements that are in the first set but not in the second.

In [16]:
x ={1,2,3,4,5,7,8,9}
y = {3,4,5,6,7,8,9}
z = x.difference(y)
print(z)

{1, 2}

In [17]:
y = {"apple","kiwi","orange"}
b = {"banana","grapes","kiwi"}
c = a.difference(b)
print(c)

{'orange', 'apple'}

# **4. Set Symmetric Difference**
-  Set Symmetric Difference between two sets A and B includes all elements of A and B without the common elements.
-  returns elements that are in either of the sets, but not in both.

In [18]:
x ={1,2,3,4,5,7,8,9}
y = {3,4,5,6,7,8,9}
z = x.symmetric_difference(y)
print(z)

{1, 2, 6}

In [19]:
a = {"apple","kiwi","orange","kiwi"}
b = {"banana","grapes","kiwi"}
c = a.symmetric_difference(b)
print(c)

{'grapes', 'apple', 'orange', 'banana'}

# **Methods of sets**
**add()**	 	Adds an element to the set

**clear()**	 	Removes all the elements from the set

**copy()**	 	Returns a copy of the set

**difference()**	-	Returns a set containing the difference between two or more sets

**difference_update()**	-=	Removes the items in this set that are also included in another, specified set

**discard()** 	Remove the specified item

**intersection()**	&	Returns a set, that is the intersection of two other sets

**intersection_update()** &=	Removes the items in this set that are not present in other, specified set(s)

In [8]:
x = {"apple","kiwi","orange"}
x.add("banana")
print(x)

{'apple', 'orange', 'banana', 'kiwi'}

In [9]:
x = {"apple","kiwi","orange"}
x.clear()
print(x)

set()

In [10]:
x = {"apple","kiwi","orange"}
y = x.copy()
print(y)

{'apple', 'orange', 'kiwi'}

In [11]:
z = {"apple","kiwi","orange","kiwi"}
b = {"banana","grapes","kiwi"}
c = z.difference(b)
print(c)

{'apple', 'orange'}

In [12]:
a = {"apple","kiwi","orange","kiwi"}
b = {"banana","grapes","kiwi"}
a.difference_update(b)
print(a)

{'apple', 'orange'}

In [13]:
s = {"apple","kiwi","orange"}
s.discard("kiwi")
print(s)

{'apple', 'orange'}

In [14]:
n = {"apple","kiwi","orange"}
m = {"banana","grapes","kiwi"}
o = n.intersection(m)
print(o)

{'kiwi'}

In [15]:
b = {"apple","kiwi","orange"}
c = {"banana","grapes","kiwi"}
b.intersection_update(c)
print(b)

{'kiwi'}