In [ ]:
# define about strings
# create 10 elements using '' and ""
# create a string 50 characters and acsess any 10 using index and apply slicing any 2 examples
# apply operations
# explain about strings formats
# string methods

# **Define About Strings**
-  a string is a sequence of elements.
-  single quotes or double quotes to represent a string.
-  strings are one of the most commonly used data types.
-  you can perform various operations and are methods to manuplate and work with string.

In [ ]:
# create 10 elements using '' and ""
# single quotation
str1 = 'hello'
print(type(str1))

<class 'str'>

In [ ]:
str2 = 'hello world'
print(type(str2))

<class 'str'>

In [ ]:
str3 = 'devara'
print(type(str3))

<class 'str'>

In [ ]:
# double quotation
a = "hello"
print(type(a))

<class 'str'>

In [ ]:
x ="ramanaraju"
print(type(x))

<class 'str'>

In [ ]:
z = "rajinikanth"
print(type(z))

<class 'str'>

In [ ]:
# create a string 50 characters and acsess any 10 using index and apply slicing any 2 examples

word ="A Computer Science portal for geeks"
print(word[0])
print(word[1])
print(word[2])
print(word[3])
print(word[4])

A

C
o
m

In [ ]:
# slicing
print(word[15:25])
print(word[10:20])

nce portal
 Science p

In [ ]:
# apply operations

1. Concatenation
2. Repetition
3. Indexing
4. Slicing

# 1. concatenation

-   combining two or more strings.

In [ ]:
str1 = "hello"
str2 = "world"
str3 = str1 + str2
print(str3)

helloworld

In [ ]:
x ="python is"
y = "programming language"
z = x +" " + y
print(z)

python is programming language

In [ ]:
s = "string is a "
t = "sequence of characters"
u = s + t
print(u)

string is a sequence of characters

# **2. Repetition**
-  Repeating a multiple times.

In [ ]:
str1 ="welcome to telangana "
str2 = str1 * 3
print(str2)

welcome to telangana welcome to telangana welcome to telangana

In [ ]:
str1 = "welcome to telangana. \n"
str2 = str1 * 3
print(str2)

welcome to telangana.
welcome to telangana.
welcome to telangana.

In [ ]:
x = "thank you visit again. \n"
y = x * 6
print(y)

thank you visit again.
thank you visit again.
thank you visit again.
thank you visit again.
thank you visit again.
thank you visit again.

In [ ]:
a = "python is a programming language \n easy to learn. \n"
b = a * 5
print(b)

python is a programming language
 easy to learn.
python is a programming language
 easy to learn.
python is a programming language
 easy to learn.
python is a programming language
 easy to learn.
python is a programming language
 easy to learn.

# **3. Indexing**
-  accessing individual characters in string.

In [ ]:
x = "hello welcome to python"
print(x[6])
print(x[-5])

w
y

In [ ]:
z = "string is a sequence of characters"
print(z[10])
print(z[-15])

a
e

# **4. Slicing**
-  Extracting a substring from a string.

In [ ]:
x = "pyhton is so funny and is awesome"
y = x[10:18]
print(y)

so funny

In [ ]:
z = "Python can be used on a server to create web applications"
a = z[-16:]
print(a)

web applications

# explain about strings formats
-  old style formatting (% operator)
-  format method
-  string interpolation (f-strings-python3.6 and later)

# 1. **old style formatting (% operator)**
-  uses the % operator and placeholders

In [ ]:
name = "sai kiran"
age = 27
result = "my name is %s and i am %d years old" %(name,age)
print(result)

my name is sai kiran and i am 27 years old

# 2.**format method**
-  uses the format () method with placeholders.

In [ ]:
name = "sai kiran"
age = 27
result = "my name is {} and i am {} years old".format(name,age)
print(result)

my name is sai kiran and i am 27 years old

# **3.string interpolation (f-strings-python3.6 and later)**
-  use f-strings,where expression inside curly braces{} are evaluted and replaced.

In [ ]:
name = "sai kiran"
age = 27
location = "sdpt"
result = f"my name is {name} and i am {age} years old and i am from {location}".format(name,age,location)
print(result)

my name is sai kiran and i am 27 years old and i am from sdpt

# **String Methods**
1.**len**()

-   Returns the length of the string.

In [ ]:
a = "python is a programming language"
print(len(a))

32

In [ ]:
x = "string is a sequence of characters"
print(len(x))

34

In [ ]:
z = "string methods are used to manipulate and work with strings"
print(len(z))

59

## **2.Lower()  and  Upper ()**
-  Converts the string to lowercase / upper case.

In [ ]:
a = "PYTHON IS A PROGRAMMING LANGUAGE"
print(a.lower())

python is a programming language

In [ ]:
b = "string is a sequence of characters"
print(b.upper())

STRING IS A SEQUENCE OF CHARACTERS

In [ ]:
x = "string Methods are Used to Manipulate and work with strings"
print(x.upper())

STRING METHODS ARE USED TO MANIPULATE AND WORK WITH STRINGS

# 3. Strip
-  Remove leading and trailing whitespaces.

In [ ]:
x = "  hello world  "
print(x.strip())

hello world

In [ ]:
z = " ramana      raju      "
print(z.strip())

ramana      raju

# 4. Replace
-  replaces a substring with another substring.

In [ ]:
a = "python is a programming language"
print(a.replace("programming","scripting"))

python is a scripting language

In [ ]:
x = "string methods are used to manipulate and work with strings"
print(x.replace("manipulate","change"))

string methods are used to change and work with strings

# **5.Split**
-  splits the string into a list of substrings.

In [ ]:
a = "python is a programming language"
print(a.split())

['python', 'is', 'a', 'programming', 'language']

In [ ]:
x = "string methods are used to manipulate and work with strings"
print(x.split())

['string', 'methods', 'are', 'used', 'to', 'manipulate', 'and', 'work', 'with', 'strings']

## **6. Join**
-  joins a list of strings into a single string.

In [ ]:
 a = "python", "is", "a", "programming", "language"
 print(" ".join(a))

python is a programming language

In [ ]:
x = "string", "methods", "are", "used", "to", "manipulate", "and", "work", "with", "strings"
print(" ".join(x))

string methods are used to manipulate and work with strings

# **7.Title**()
-  	Converts the first character of each word to upper case

In [ ]:
a = "python is a programming language"
print(a.title())

Python Is A Programming Language

# **8.Find**()
-  Searches the string for a specified value and returns the position of where it was found

In [ ]:
x = "string methods are used to manipulate and work with strings"
print(x.find("manipulate"))

27

# **9.center**()
-  	Returns a centered string

In [ ]:
a = "python"
print(a.center(50))

                      python

In [ ]:
x = "hello"
print(x.center(100))

                                               hello

# **10.Translate**()
- 	Returns a translated string

In [ ]:
a = "hello"
print(a.translate("s"))

hello

# **11.Copy()**
-  	Returns a copy of the list

In [ ]:
a= [1,2,3,4,5]
print(a.copy())

[1, 2, 3, 4, 5]

In [ ]:
x = ['sai,raju,atheesh']
print(x.copy())

['sai,raju,atheesh']

# **12.values()**
-  	Returns a list of all the values in the dictionary

In [ ]:
x = {'name':'sai kiran','age':27}
print(x.values())

dict_values(['sai kiran', 27])

In [ ]:
a = {'name':'sai kiran','age':27,'location':'sdpt'}
print(a.values())

dict_values(['sai kiran', 27, 'sdpt'])

In [ ]:
z = {'name':'sai kiran','age':27,'location':'sdpt','gender':'male'}
print(z.values())

dict_values(['sai kiran', 27, 'sdpt', 'male'])

# **13.keys()**
-  	Returns a list containing the dictionary's keys

In [ ]:
a = {'name':'sai kiran','age':27}
print(a.keys())

dict_keys(['name', 'age'])

In [ ]:
x = {'name':'sai kiran','age':27,'location':'sdpt'}
print(x.keys())

dict_keys(['name', 'age', 'location'])

# **14.update()**
-  	Updates the dictionary with the specified key-value pairs

In [ ]:
a = {'name':'sai kiran','age':27}
a.update({'location':'sdpt'})
print(a)

{'name': 'sai kiran', 'age': 27, 'location': 'sdpt'}

# **15.index()**
-  it returns the position of the string and gives it index number.

In [ ]:
name = "sai kiran"
print(name.index('k'))

4

# **17. Isalnum**
-  it returns true if the string is alphanumaric.

In [ ]:
x = "sai123"
print(x.isalnum())

True

In [ ]:
a ="atheesh"
print(a.isalnum())

True

# **18. Isalpha**
-  it returns true if all the characters in the string are updates.

In [ ]:
x = "sai kiran"
print(x.isalpha())

False

In [ ]:
a = "sai123"
print(a.isalpha())

False

# **19.islower**
-  it returns true if all characters in the string are lowercase.

In [ ]:
x = "sai kiran"
print(x.islower())

True

# **20. isupper**
-  it returns true if all character in the string are uppercase.

In [ ]:
x = "SAI KIRAN"
print(x.isupper())

True

# **21. Isnumaric**
-  it returns true if all character in the string are numaric.

In [ ]:
x = "sai123"
print(x.isnumeric())

False

In [ ]:
y = "123"
print(y.isnumeric())

True

# **22. Zfill**
-  it returns a copy of the string with 0 characters padded to the left side of the given string.

In [ ]:
x ="python is a programming language"
print(x.zfill(66))

0000000000000000000000000000000000python is a programming language

# **23.Starwith**
-  returns true if a string starts with the givnen prefix.

In [ ]:
t = "python is a programming language"
print(t.startswith("python"))

True

# **24. rindex**
-  returns the highest index of the substring inside string.

In [ ]:
x = "python is a programming language"
print(x.rindex("language"))
print(x.rindex("is"))

24
7

# **25.rfind**
-  returns the higest index of the substring.

In [ ]:
x = "python is easy to learn"
print(x.rfind("easy"))

10