In [ ]:
# Define the python tuple
# create a tuple with 5 examples
# tuple oerations
# tuple methods

# **Define the python tuple**
-  a tuple is a data type that represents an ordered,immutable(unchangeable)sequence of  elements.
- tuples are similar to lists, but the key difference is that tuples cannot be modified once they are creted
-  they are defined using patentheses() and elements are separated by commas.

In [ ]:
# create a tuple with 5 examples

x = ("apple", "banana", "cherry", "date", "elderberry")
print(type(x))

<class 'tuple'>

In [ ]:
y = ("cricket", "vollyball", "hocky")
print(type(y))

<class 'tuple'>

In [ ]:
# create a mixed data  types
x = ("abc", 34, True, 40, "male")
print(type(x))

<class 'tuple'>

In [ ]:
y = ("cricket",11, "vollyball",0.6 ,"hocky",6+9j)
print(type(y))

<class 'tuple'>

In [ ]:
z = ("apple", 43, True,0.3,"orange",40, "kiwi")
print(type(z))

<class 'tuple'>

In [ ]:
# single element tuple
x = ("apple",)
print(type(x))

<class 'tuple'>

In [ ]:
a = ("3333",)
print(type(a))

<class 'tuple'>

In [ ]:
# accessing of tuples
a = ("apple", "banana", "cherry","apple","date", "elderberry")
print(a[5])
print(a[3])

elderberry
apple

In [ ]:
x = ("cricket", "vollyball", "hocky","apple", "banana","hocky" "cherry", "date", "elderberry")
print(x[1:5])
print(x[0:5])

('vollyball', 'hocky', 'apple', 'banana')
('cricket', 'vollyball', 'hocky', 'apple', 'banana')

# **Tuple Operations**


*   1.Concatention
*   2.Repetition

**1.Concatention**

   combining two tuples

In [ ]:
x = ("cricket", "vollyball", "hocky")
y = ("apple", "banana", "cherry")
z = x + y
print(z)

('cricket', 'vollyball', 'hocky', 'apple', 'banana', 'cherry')

In [ ]:
a = ("1", "2", "3")
b = ("apple", "banana", "cherry")
c = a + b
print(c)

('1', '2', '3', 'apple', 'banana', 'cherry')

2..Repetition

   repeating a tuple

In [ ]:
x = ("cricket", "vollyball", "hocky")
y = x * 2
print(y)

('cricket', 'vollyball', 'hocky', 'cricket', 'vollyball', 'hocky')

In [ ]:
z = ("apple", "banana", "cherry")
a = z * 3
print(a)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [ ]:
w= ("1", "2", "3")
b = w * 10
print(b)

('1', '2', '3', '1', '2', '3', '1', '2', '3', '1', '2', '3', '1', '2', '3', '1', '2', '3', '1', '2', '3', '1', '2', '3', '1', '2', '3', '1', '2', '3')

# **Tuple of methods**
Tuples have limited methods compared to list due to their immutability.

1. count()

 Returns the number of occurrences of a specified value.

In [ ]:
z=("1", "2", "3","1", "2", "3","1", "2", "3","1", "2", "3")
print(z.count("1"))

4

In [ ]:
x = ("12", "23", "34","12", "23", "34","12", "23", "34","12", "23", "34")
print(x.count("12"))

4

2.Index()

Returns the index of the first occurrence of a specified value.

In [ ]:
x = ("12", "23", "34","12", "23", "34","12", "23", "34","12", "23", "34")
print(x.index("12"))

0

In [ ]:
y = ("cricket", "vollyball", "hocky","apple", "banana","hocky" "cherry", "date", "elderberry")
print(y.index("hocky"))

2