**TASK 2**

1) explain about variables

2) rules of variables

3) types of variables

4) 10 examplesof each and every types &

 you need to print and identify the types

# **1 .  EXPLAIN ABOUT VARIABLES**

-    In Python, variables are containers that store data values and act as
     placeholders for information that can be recalled later.
-  They can be used to store a variety of data types, including integers,
     strings, lists, and dictionaries

# **2. RULES OF VARIABLES**
  -   A Python variable name must start with a letter or the underscore character.
  -  
A Python variable name cannot start with a number.
  -
A Python variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
-
Variable in Python names are case-sensitive (name, Name, and NAME are three different variables).
  -
The reserved words(keywords) in Python cannot be used to name the variable in Python.

**3.TYPES OF VARIABLES**
-  single variables
-  multiple variables

In [ ]:
 # single variables

In [ ]:
 x = 759
 y = 1.6

In [ ]:
print (x)

759

In [ ]:
print (y)

1.6

In [ ]:
print (type(x))

<class 'int'>

In [ ]:
print (type(y))

<class 'float'>

 **multiple variables**

 Two types

 -   1 . multi  to multi
 -   2 . multi to one

In [ ]:
 # multi to multi
 x,y,z = 10,11,12
 print (x)
 print (y)
 print (z)

10
11
12

In [ ]:
 # multi to one
 x = y = z = 100
 print (x)
 print (y)
 print (z)

100
100
100

4.  10 examplesof each and every types &

you need to print and identify the types

 ** single variables**

In [ ]:
 a = 47
 print (a)
 print (type(a))

47
<class 'int'>

In [ ]:
saikiran = 1.6
print (saikiran)
print (type(saikiran))

1.6
<class 'float'>

In [ ]:
raju = 11545655
print (raju)
print (type(raju))

11545655
<class 'int'>

In [ ]:
 x = 2 + 7j
 print (x)
 print (type(x))

(2+7j)
<class 'complex'>

In [ ]:
lucky =  0.7777
print (lucky)
print (type(lucky))

0.7777
<class 'float'>

In [ ]:
 sai = 4+18j
 print (sai)
 print (type(sai))

(4+18j)
<class 'complex'>

In [ ]:
 x = 2.6677
 print (x)
 print (type(x))

2.6677
<class 'float'>

In [ ]:
shiva = 4569874492135741
print (shiva)
print (type(shiva))

4569874492135741
<class 'int'>

In [ ]:
z = 100
print (z)
print (type(z))

100
<class 'int'>

# 2. **multiples variables**
 -  multi to multi
 -  milti to one
 -  one to multi

In [ ]:
 # multi to multi
 x , y, z = 10,11,12
 print (x)
 print (y)
 print (z)
 print (type(x))
 print (type(y))
 print (type(z))

10
11
12
<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
a,b,c = 100,0.6,2+7j
print (a)
print (b)
print (c)
print (type(a))
print (type(b))
print (type(c))

100
0.6
(2+7j)
<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
 # multi to one
 x= y = z = 100
 print (x)
 print (y)
 print (z)
 print (type(x))
 print (type(y))
 print (type(z))

100
100
100
<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
bhanu = shiva = raju = 0.6369
print (bhanu)
print (shiva)
print (raju)
print (type(bhanu))
print (type(shiva))
print (type(raju))

0.6369
0.6369
0.6369
<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
gri = nsh = sbi = 77 + 7j
print (gri)
print (nsh)
print (sbi)
print (type(gri))
print (type(nsh))
print (type(sbi))

(77+7j)
(77+7j)
(77+7j)
<class 'complex'>
<class 'complex'>
<class 'complex'>